# Dependency
node_modules/

# Others
._*
.cache
.DS_Store
.next
.idea
.netlify
.project
.settings
.tmproj
.vscode
.npm
.eslintcache
.stylintcache
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
Thumbs.db

